@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://wallpaperaccess.com/full/1678126.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    width: 90%;
    margin: auto;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}

.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #DD5353;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}

.logo{
    padding: 50px;
    width: 80px;
}


@media (max-width : 700px) {
    .nav-links ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 15px;
    }

    .navbar{
        width: 90%;
        margin: auto;
        padding: 45px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar{
        color: aliceblue;
        text-decoration: none;
        font-size: 13px;
    }

}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    color: #00bcd4;
}

.contact .content p {
    color: aliceblue;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: aliceblue;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 700px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactInfo, .contactForm {
        width: 100%;
    }
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}



.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    border-radius: 2px;
    animation: loader 3s infinite ease;

}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
    0% {
         transform: rotate(0deg);
    }
    25% {
         transform: rotate(180deg);
    }
    50% { 
         transform: rotate(180deg);
    }
    75% { 
         transform: rotate(360deg);
    }
    100% { 
         transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% { 
        height: 0%;
    }
    25% { 
        height: 0%;
    }
    50% { 
        height: 100%;
    }
    75% { 
        height: 100%;
    }
    100% { 
        height: 0%;
    }
}